{% extends 'template/layout.html.twig' %}

{% block body %}
    {% if epreuveList|length !=0 %}
        <div class="container m-auto">
            <div class="row d-flex m-auto">
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Epreuve</th>
                            <th scope="col">Date</th>
                            <th scope="col">Nombre de Participants</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for epreuve in epreuveList %}
                            <tr>
                                <th scope="row">{{ epreuve.ID }}</th>
                                <td class="text-center">{{ epreuve.nom }}</td>
                                <td class="text-center">{{ epreuve.date }}</td>
                                <td class="text-center">{{ epreuve.NbParticipant }}</td>
                                <td>
                                    <button
                                            type="button"
                                            class="btn btn-primary"
                                            onclick="location.href='showEpreuve/{{ epreuve.ID }}'">
                                        <i class="far fa-eye"></i>
                                    </button>
                                    <button
                                            type="button"
                                            class="btn btn-success">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button
                                            type="button"
                                            data-toggle="modal"
                                            data-target="#exampleModal{{ epreuve.ID }}"
                                            class="btn btn-danger">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                            {% set entity = epreuve %}
                            {% include 'template/confirmModal.html.twig' with entity %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row d-flex m-auto">
            <div class="col-12  text-center">
                <a href="addEpreuve">Aucune epreuve n'est disponbible, voulez-vous en créer une ?</a>
            </div>
        </div>
    {% endif %}
{% endblock %}