{% extends 'template/layout.html.twig' %}
{% block body %}
    <div class="container mt-5 mx-auto">
        <div class="row d-flex justify-content-between">
            <div class="col-4">
                <div class="card ripe-malinka-gradient form-white px-1">
                    <div class="card-body">
                        <form method="post" role="form" action="/Logitud_SkiChampionShip/updateEpreuve/{{ epreuve.ID }}"
                              class="form-group">
                            <div class="md-form">
                                <i>Nom</i>
                                <input
                                        type="text"
                                        class="form-control"
                                        name="epreuveNom"
                                        value="{{ epreuve.nom }}"
                                >
                            </div>
                            <div class="md-form">
                                <i>Date</i>
                                <input
                                        type="datetime-local"
                                        class="form-control"
                                        name="epreuveDate"
                                        value="{{ epreuveDate }}"
                                >
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-white waves-effect waves-light"
                                        name="submit">Mettre à jour
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row d-flex flex-column">
                    <div class="card {% if(theme == "dark") %}bg-dark{% else %}bg-light{% endif %}  mb-3"
                         style="max-width: 18rem;">
                        <div class="card-header">Options</div>
                        <div class="card-body text-center">
                            <button class="btn btn-success"
                                    onclick="location.href='/Logitud_SkiChampionShip/{{ epreuve.ID }}/addPersonne'">
                                <i class="fas fa-user-plus"></i>
                            </button>
                            <button
                                    class="btn btn-primary"
                                    onclick="location.href='/Logitud_SkiChampionShip/createCSV/{{ epreuve.ID }}'"
                            >
                                <i class="fas fa-table"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row  d-flex flex-column">
                    <div class="card {% if(theme == "dark") %}bg-dark{% else %}bg-light{% endif %}  mb-3"
                         style="max-width: 18rem;">
                        <div class="card-header">Upload</div>
                        <div class="card-body text-center">
                         <form method="post" action="/Logitud_SkiChampionShip/uploadCSV/{{ epreuve.ID }}" id="uploadCSV">
                             <label>Charger le fichier avec les résultats</label>
                             <input type="file" class="form-control" multiple="" accept=".csv">
                             <div class="text-center">
                                 <button type="submit" class="btn btn-outline-secondary waves-effect waves-light"
                                         name="submit">Envoyer
                                 </button>
                             </div>
                         </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <table class="table table-bordered" id="participantTable">
                    <thead>
                    <tr>
                        <th class="text-center" scope="col">ID</th>
                        <th class="text-center" scope="col">Nom</th>
                        <th class="text-center" scope="col">Prenom</th>
                        <th class="text-center" scope="col">E-mail</th>
                        <th class="text-center" scope="col">Date De Naissance</th>
                        <th class="text-center" scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for personne in personneList %}
                        <tr>
                            <th class="text-center" scope="row">{{ personne.ID }}</th>
                            <td class="text-center">{{ personne.nom }}</td>
                            <td class="text-center">{{ personne.prenom }}</td>
                            <td class="text-center">{{ personne.mail }}</td>
                            <td class="text-center">{{ personne.dateDeNaissance }}</td>
                            <td class="text-center">
                                <button
                                        type="button"
                                        class="btn btn-primary"
                                        onclick="location.href='/Logitud_SkiChampionShip/showPersonne/{{ personne.ID }}'">
                                    <i class="far fa-eye"></i>
                                </button>
                                <button
                                        type="button"
                                        class="btn btn-success">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button
                                        type="button"
                                        data-toggle="modal"
                                        data-target="#exampleModal{{ personne.ID }}"
                                        class="btn btn-danger">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </td>

                        </tr>
                        {% set entity = personne %}
                        {% include 'template/confirmModal.html.twig' with {'entity': entity, 'epreuve':epreuve} %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if(status == true) %}
        {% include 'template/ErrorModal.html.twig' %}
    {% endif %}
{% endblock %}